mixin b-banners()
  .border-2-colors.border-2-colors_border-bottom
    .b-banners-1.section-bg.section-bg_grey-2(class!=attributes.class)
      .section__inner
        .b-banners-1__text Get to know how much Event Security Cost
        a.b-banners-1__btn.btn.btn-default.btn-sm(href="home.html") request a quote

  // end .b-banners
