extends _template.pug

block head
  head
    +head(head.portfolio)

block content

  +b-title-page('our portfolio III', 'the works')

  +b-work()

  .section-default.bg-grey
    .container
      .row
        .col-xs-12
          h2.ui-title-block-2.text-second Similar Works ...
          .ui-decor-4
          .b-isotope.b-isotope-2
            ul.b-isotope-grid.grid.list-unstyled.js-zoom-gallery
              li.grid-sizer
              li.b-isotope-grid__item.grid-item.branding
                a.b-isotope-grid__inner(href="portfolio-details.html")
                  img(src="assets/media/content/gallery/360x310/4.jpg", alt="foto")
                  span.b-isotope-grid__wrap-info
                    img.b-isotope-grid__img(src="assets/media/content/gallery/logo_white.png", alt="logo")
                    span.b-isotope-grid__info
                      span.b-isotope-grid__title the fruits bag
                      span.b-isotope-grid__categorie branding identity
              li.b-isotope-grid__item.grid-item.branding.graphics
                a.b-isotope-grid__inner(href="portfolio-details.html")
                  img(src="assets/media/content/gallery/360x310/2.jpg", alt="foto")
                  span.b-isotope-grid__wrap-info
                    img.b-isotope-grid__img(src="assets/media/content/gallery/logo_white.png", alt="logo")
                    span.b-isotope-grid__info
                      span.b-isotope-grid__title the fruits bag
                      span.b-isotope-grid__categorie branding identity
              li.b-isotope-grid__item.grid-item.photography.design
                a.b-isotope-grid__inner(href="portfolio-details.html")
                  img(src="assets/media/content/gallery/360x310/9.jpg", alt="foto")
                  span.b-isotope-grid__wrap-info
                    img.b-isotope-grid__img(src="assets/media/content/gallery/logo_white.png", alt="logo")
                    span.b-isotope-grid__info
                      span.b-isotope-grid__title the fruits bag
                      span.b-isotope-grid__categorie branding identity
  // end .section-default
