mixin b-tabs()

  ul.b-tabs-nav.nav.nav-tabs
    li.active
      a(href="#home", data-toggle="tab") Главная
    li
      a(href="#profile", data-toggle="tab") Профиль
    li
      a(href="#messages", data-toggle="tab") Сообщения
    li
      a(href="#settings", data-toggle="tab") Настройки


  .b-tabs-content.tab-content
    .tab-pane.active#home qqqqqqqqq
    .tab-pane#profile ldkfjslkdjf
    .tab-pane#messages fffffffff
    .tab-pane#settings ldkfjslkdjf

  // end .b-tabs







