mixin b-info()

  section.b-info.area-bg.area-bg_grad.area-bg_op_90.parallax(class!=attributes.class, style="background-image: url(assets/media/content/bg/bg-1.jpg);")
    .area-bg__inner
      .container
        .row
          .col-md-9
            h3.b-info__title would you like you see all the projects
          .col-md-3
            a.btn.btn-default(href="portfolio.html") learn more

  // end .b-info


mixin b-info-2()

  section.b-info.b-info_lg.text-center.area-bg.area-bg_grad.area-bg_op_90.parallax(style="background-image: url(assets/media/content/bg/bg-1.jpg);")
    .area-bg__inner
      .container
        .row
          .col-md-8.col-md-offset-2
            h3.b-info__title let’s get start on your next project & work in a&nbsp;good way from start to finish!
        .row
          .col-xs-12
            a.btn.btn-white(href="portfolio.html") buy now
            a.btn.btn-default(href="portfolio.html") learn more

  // end .b-info

