mixin b-services()

  section.b-services
    h2.ui-title-block-3 We follow intelligent methodology to deliver awesome solutions!
    .ui-title-inner-3 Ipsum dolor sit amet ulam consecter adipsicing elit sed tempor incididunt ut dolore magna aliqua.
    p Sit amet lorem ipsum dolor sit amet orem psum dolor sit amet consectetur sed adipisic elit do eiusmod tempor incididuntut labore et dolore clipa magna aliqua utae enimad minim ven quis nostrud exercitation ullamco laboris nisi ut aliquip.
    a.btn.btn-grad(href="services.html")
      span.wrap-btn-grad view services
  // end .b-services
