mixin b-skills()

  .b-skills(class!=attributes.class)
    .container
      .row
        .col-md-5
          .b-skills-banner
            .b-skills-banner__number 9
            .b-skills-banner__title Years Of Experience
            .b-skills-banner__bg mizan

        .col-md-7
          .b-skills__inner
            h2.ui-title-block-2 Skills we have ...
            p Corem ipsum dolor sit amet consecter adipsicing elit sed usm temp incidid dolore magna aliqua ut enim minim beniaps quis nostrual ex citationullamco sed bcea ipsum dolor amet.

            .progress-block-group
              .progress-block
                .progress__title marketing
                .progress.progress-w-number.progress_background
                  .progress-bar.bg-grad(style="width: 92%")
                  span.progress-bar__number 92%
              .progress-block
                .progress__title design / development
                .progress.progress-w-number.progress_background
                  .progress-bar.bg-grad(style="width: 80%")
                  span.progress-bar__number 80%
              .progress-block
                .progress__title photography
                .progress.progress-w-number.progress_background
                  .progress-bar.bg-grad(style="width: 65%")
                  span.progress-bar__number 65%

  // end .b-skills
