mixin b-awards()

  section.b-awards
    .ui-decor-1.bg-primary
    h2.b-awards__title Awards We Won!
    ul.b-awards-list.list-inline
      li.b-awards-list__item
        img.b-awards-list__img(src="assets/media/components/b-awards/award-1.png", alt="award")
        span.b-awards-list__title best agency year 2016
      li.b-awards-list__item
        img.b-awards-list__img(src="assets/media/components/b-awards/award-2.png", alt="award")
        span.b-awards-list__title best team of professionals
      li.b-awards-list__item
        img.b-awards-list__img(src="assets/media/components/b-awards/award-3.png", alt="award")
        span.b-awards-list__title project of<br>the year award

  // end .b-awards

