mixin switcher()

  // Start Switcher
  .switcher-wrapper
    .demo_changer
      .demo-icon.color-primary
        i.fa.fa-cog.fa-spin.fa-2x
      .form_holder
        .predefined_styles
          .skin-theme-switcher
            h4 Color
            a.styleswitch(href="javascript:void(0);" data-switchcolor="color1" style="background-color:#59559a;")
            a.styleswitch(href="javascript:void(0);" data-switchcolor="color2" style="background-color:#9e8a2b;")
            a.styleswitch(href="javascript:void(0);" data-switchcolor="color3" style="background-color:#28af0f;")
  // end switcher
