mixin b-video(img)

  .b-video
    img.b-video__poster.img-responsive(src="assets/media/components/b-video/poster-1.jpg", alt="poster")
    a.b-video-btn.area-bg.popup-youtube(href="http://www.youtube.com/watch?v=0O2aH4XLbto")
      .area-bg__inner
        i.b-video-btn__icon.fa.fa-play-circle
        span.b-video-btn__title click to play
  // end .b-video
