mixin accordion()

  .panel-group.accordion#accordion-1(class!=attributes.class)
    .panel.panel-default
      .panel-heading
        a.btn-collapse(data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1")
          i.icon
        h3.panel-title What are top destinations you offer services?

      .panel-collapse.collapse.in#collapse-1
        .panel-body
          p Norem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exrcitation ullam co laboris nisi ut aliquip ex ea commodo consequat magna aliqua.


    .panel
      .panel-heading
        a.btn-collapse.collapsed(data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2")
          i.icon
        h3.panel-title How much money I can save using your service?

      .panel-collapse.collapse#collapse-2
        .panel-body
          p Norem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exrcitation ullam co laboris nisi ut aliquip ex ea commodo consequat magna aliqua.


    .panel
      .panel-heading
        a.btn-collapse.collapsed(data-toggle="collapse" data-parent="#accordion-1" href="#collapse-3")
          i.icon
        h3.panel-title What payments types do you accept?

      .panel-collapse.collapse#collapse-3
        .panel-body
          p Corem ipsum dolor amet consectetur sed dipisicing elit do eiusmod tempor incidid labore etsed dolore magna aliqua enimad minim incididunt lorem ipsum dolor amet consectetur adipisic ding elit sed eiusmod tempor.


    .panel
      .panel-heading
        a.btn-collapse.collapsed(data-toggle="collapse" data-parent="#accordion-1" href="#collapse-4")
          i.icon
        h3.panel-title What causes my package delivery be delayed?

      .panel-collapse.collapse#collapse-4
        .panel-body
          p Corem ipsum dolor amet consectetur sed dipisicing elit do eiusmod tempor incidid labore etsed dolore magna aliqua enimad minim incididunt lorem ipsum dolor amet consectetur adipisic ding elit sed eiusmod tempor.


    .panel
      .panel-heading
        a.btn-collapse.collapsed(data-toggle="collapse" data-parent="#accordion-1" href="#collapse-5")
          i.icon
        h3.panel-title How can I ask for a free estimate of my shipment?

      .panel-collapse.collapse#collapse-5
        .panel-body
          p Corem ipsum dolor amet consectetur sed dipisicing elit do eiusmod tempor incidid labore etsed dolore magna aliqua enimad minim incididunt lorem ipsum dolor amet consectetur adipisic ding elit sed eiusmod tempor.

  // end .accordion


mixin accordion-2()

  .panel-group.accordion#accordion-1(class!=attributes.class)
    .panel.panel-default
      .panel-heading
        a.btn-collapse(data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1")
          i.icon
        h3.panel-title What destinations you offer services?

      .panel-collapse.collapse.in#collapse-1
        .panel-body
          p Norem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exrcitation ullam co laboris nisi ut aliquip ex ea commodo consequat magna aliqua.


    .panel
      .panel-heading
        a.btn-collapse.collapsed(data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2")
          i.icon
        h3.panel-title How much money I can save?

      .panel-collapse.collapse#collapse-2
        .panel-body
          p Norem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exrcitation ullam co laboris nisi ut aliquip ex ea commodo consequat magna aliqua.


    .panel
      .panel-heading
        a.btn-collapse.collapsed(data-toggle="collapse" data-parent="#accordion-1" href="#collapse-3")
          i.icon
        h3.panel-title What payments types do you accept?

      .panel-collapse.collapse#collapse-3
        .panel-body
          p Corem ipsum dolor amet consectetur sed dipisicing elit do eiusmod tempor incidid labore etsed dolore magna aliqua enimad minim incididunt lorem ipsum dolor amet consectetur adipisic ding elit sed eiusmod tempor.


    .panel
      .panel-heading
        a.btn-collapse.collapsed(data-toggle="collapse" data-parent="#accordion-1" href="#collapse-4")
          i.icon
        h3.panel-title What causes delivery is delayed?

      .panel-collapse.collapse#collapse-4
        .panel-body
          p Corem ipsum dolor amet consectetur sed dipisicing elit do eiusmod tempor incidid labore etsed dolore magna aliqua enimad minim incididunt lorem ipsum dolor amet consectetur adipisic ding elit sed eiusmod tempor.


    .panel
      .panel-heading
        a.btn-collapse.collapsed(data-toggle="collapse" data-parent="#accordion-1" href="#collapse-5")
          i.icon
        h3.panel-title How can I ask for a free estimate?

      .panel-collapse.collapse#collapse-5
        .panel-body
          p Corem ipsum dolor amet consectetur sed dipisicing elit do eiusmod tempor incidid labore etsed dolore magna aliqua enimad minim incididunt lorem ipsum dolor amet consectetur adipisic ding elit sed eiusmod tempor.

  // end .accordion
